<%- include('header'); -%>

<h2>This is About the page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates ipsa sint exercitationem nostrum incidunt eum porro maiores id adipisci molestiae, recusandae cum tempora aspernatur velit cumque obcaecati. Odio odit totam debitis accusamus vero.</p>

<%- include('footer'); -%>